
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title Page</title>

        <!-- Bootstrap CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body{
                background-color: #d71149;
                color: #fff;
            }
            #scrap{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        </style>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        
        <div class="container" id="scrap">
            <h1 class="text-center">BukaScraper</h1>
        
            <center>
                <a type="button" class="btn btn-default" href="http://localhost:3001/scraphandphone">Handphone</a>
                <a type="button" class="btn btn-default" href="http://localhost:3001/scrapmakeup">Makeup</a>
                <a type="button" class="btn btn-default" href="http://localhost:3001/scrapparfum">Parfum</a>
                <a type="button" class="btn btn-default" href="http://localhost:3001/scrappelangsing">Pelangsing</a>
                <a type="button" class="btn btn-default" href="http://localhost:3001/scrapperawatantubuh">Perawatan Tubuh</a>
                <a type="button" class="btn btn-default" href="http://localhost:3001/scrapperawatanwajah">Perawatan Wajah</a>    
            </center>
        </div>
        
        <script src="/styles/particles.js-master/particles.js"></script>
        <script src="/styles/particles.js-master/demo/js/app.js"></script>
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
